.sign_up_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FFFF;
    border-radius: 7px;
    width: 70%;
    max-height: 360px;
    height: 360px;
}

.sign_up_form h1 {
    margin-bottom: 10px;
}

.sign-Up_form input {
    width: 500px
}

.sign_up_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.sign_up_inputs input {
    background-color: #E8F0FE;
    margin: 3px;
    border: 1px solid black;
    border-radius: 3px;
    width: 300px;
    height: 20px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    padding: 3px;
}

.sign_up_button {
    padding: 5px;
    background-color: #FF5A5F;
    border: 1px solid #FFFF;
    color:#E8F0FE;
    border-radius: 4px;
    height: 30px;
    width: 307px;
    cursor: pointer;
}

.sign_up_button:disabled{
    cursor: not-allowed;
    background-color: rgb(65, 67, 67);
    width: 307px;
    box-sizing: border-box;
}