/* div#modal-content {
    width: 80vh;
    height: 100vh;
} */

.create_spot_container {
    display: flex;
    justify-content: center;

}

.create_spot_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 80%;
    padding: 20px;
    background: none;
    border-radius: 8px;
}

.create_spot_container p {
    width: 90%
}

.create_spot_form input,
.create_spot_form textarea {
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create_spot_form h1,
.create_spot_form h2,
.create_spot_form p {
    margin: 10px 0;
}

.create_spot_form .description_container textarea {
    height: 100px;
}

.create_spot_form button {
    width: 84%;
    max-width: 834px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background: #FF5A5F;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.create_spot_form button:hover {
    background: #f5353b;
}

.create_spot_form.error {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
}

.prelim_info input {
    background-color: #E8F0FE;
}

.description_container textarea {
    background-color: #E8F0FE;
}

.create_spot_preview_input {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    font-weight: 700;
}

.create_spot_preview_input  input{
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 30px;
}

.name_input_container input {
    background-color: #E8F0FE;
}

.price_input input {
    background-color: #E8F0FE;
}

.url_inputs input {
    background-color: #E8F0FE;
}

#modal-content .create_spot_container{
    background: none;
}