@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.icon-home{
    font-size: 25px;
    padding-bottom: 5px;
    font-family: karma;
    color: #FF5A5F;
    cursor: pointer;
}

.icon-home svg{
    color: #FF5A5F;
    position: relative;
    top: 4px;
}

.icon {
    display: inline-flex;
    border: 5px;
}

svg {
    margin-top: 0px;
}

li.create_spot_profile_buttons {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-family: karma bold 700;
}