@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

.hidden {
    display: none;
  }

.show {
  display: block;
}

  .user-button:hover {
    cursor: pointer;
  }

  .icon-home {
    text-decoration: none;
    font-family: 700 karma;
  }

  .user-button {
    font-size: 18px;
    background-color: #FFFFFF;
    border: none;
    margin-right: 5px;
    color: #000000
  }

  .profile-menu-container {
    border: solid 2px #CCCCCC;
    border-radius: 12px;
    margin-right: 4px;
    padding: 6px;
    margin-bottom: 5px;
  }

  .profile-icon {
    display: inline-block;
    margin-right: 5px;
  }

  .login {
    display: block;
    cursor: pointer;
  }

  /* Stylings when user not logged in */
  .base_menu {
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between items */
}

 .profile-dropdown {
    border: 1px solid #000; /* Solid border */
    background-color: #FFFFFF; /* Background color */
    /* color: #fff; Text color for better contrast */
    padding: 10px; 
    margin: 5px 0; /* Margin between items */
    border-radius: 4px;
    text-align: center; 
}

.profile_login {
  cursor: pointer; 
  border: 1px solid #00525E;
  background-color: #FF4A4F;
  color: #FFFFFF;
  border-radius: 3px;
  font-family: karma;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.profile_signup {
  cursor: pointer; 
  border: 1px solid #00525E;
  background-color: #FF4A4F;
  color: #FFFFFF;
  border-radius: 3px;
  font-family: karma;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px
}

.base_menu .dropdown-item:hover {
    background-color: #FF4A4F;
}
